
ProjetTest/.vs/

ProjetTest/Debug/

ProjetTest/ProjetTest/Debug/

ProjetTest/ProjetTest/img/

ProjetTest/ProjetTest/x64/Debug/

ProjetTest/UnitTestSyntheseImg/Debug/

ProjetTest/ProjetTest/Release/ProjetTest.log

*.obj

*.tlog

ProjetTest/Release/

*.pdb
